.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-login {
  text-align: center;
  background-color: rgb(23, 69, 143);
}

.judul-login {
  color: white;
}

.box {
  background: white;
  border-radius: 15px;
  border-style: solid;  
  border-width: thin;
  width: 700px;
  align-items: center;
  text-align: center;
  margin-top: 25px;
}

.label-password {
  text-align: center;
}

.label-username {
  text-align: center;
}

.input-login {
  width: 500px;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  margin-left: 25px;
}

.judul-login-form {
  margin-top: 25px;
} 

.halaman-login {
  margin-top: 25px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.mini-box { 
  margin-bottom: 25px;
  margin-left: 25px;
}

.button-login {
  margin-bottom: 25px;
  margin-right: 15px;
  padding-left: 15px;
  margin-top: 15px;
}

.logo-web {
  height: 250px;
  width: 250px;
}

body {
  background-image: url('../public/background.jpg');
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: cover;
}

.button-register {
  margin-bottom: 25px;
}

.header-register {
  text-align: center;
  background-color: rgb(23, 69, 143);
  height: 60px;
}

.judul-register {
  color: white;
}

.halaman-register {
  margin-top: 25px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.button-register {
  margin-bottom: 25px;
  margin-right: 15px;
  padding-left: 15px;
  margin-top: 15px;
}

.input-register {
  width: 500px;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  margin-left: 25px;
}

.judul-register-form {
  text-align: center;
}

.input-register {
  float: right;
}

.label-box {
  width: 70px;
  text-align: left;
}

.logo-home { 
  height: 75px;
  width: 75px;
}

.search-bar {
  margin-right: 25px;
}

.isinya {
  margin-top: 25px;
}

.ini-bar {
  width: 400px;
}

.tombol-menu {
  font-size: 28px;
}

